.animacion1{
    width: 100px;
    height: 100px;
    background-color: black;

    /* definir animación */
    animation-name: anima1;
    animation-duration:10s ;
    animation-iteration-count: infinite;
}

/* desencadenar la animación */
@keyframes anima1{
    0%{}
    50%{background-color: chartreuse;border-radius: 50%;}
    75%{background-image: url(/img/zapatilla\ 1.png);background-size: cover;}
    100%{background-color: deeppink;}
}

.animacion2{
    width: 100px;
    height: 100px;
    background-color: aquamarine;
    margin-top: 50px;

    animation-name:anima2 ;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes anima2{
    0%{}
    50%{width: 300px;}
    100%{}
}

.animacion3{
    width: 150px;
    height: 150px;
    background-image: url(/img/zapatilla\ 1.png);
    background-size: cover;
    margin-top: 50px;
    border: 2px double ;

    animation-name:anima3 ;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

@keyframes anima3{
    0%{}
    50%{background-image: url(/img/zapatilla\ 2.png);}
    100%{background-image: url(/img/zapatilla\ 4.png);}
}