.tabla{
    /* asignar comportamiento de tabla */
    display: table;
    width: 350px;
    background-color: blueviolet;
    
    /* permite colpasar/fusionar borde */
    border-collapse: collapse;
    border-radius: 20px;
    margin: auto;
}

@font-face {
    font-family:Italianno-Regular;
    src: url(/fuentes/Italianno-Regular.ttf);
}

.fila{
    /* asignar comportamiento de fila */
    display: table-row;
}

.celda{
    /* asignar comportamiento de celda */
    display: table-cell;
    
    /* definir: grosor tipo (solid, double,dashed, dotted) color */
    border: 3px solid rgb(255, 254, 254) ;
    padding: 30px;
    text-align: center;
    font-family: Italianno-Regular;
  
}

h2{
    font-family: Italianno-Regular;
}