*{
    margin: 0;
    padding: 0;
}

header{
    width: 1200px;
    margin: auto;
    border-radius: 20px;
    overflow: hidden;

}

.slides{
    display: flex;
}



nav{
    width: 1200px;
    height: 75px;
    background-color: black;
    margin: auto;
}

.formulario{
width: 500px;
background-color: rgb(228, 103, 25);
color: aliceblue;
padding: 30px;
margin: auto;
margin-top: 50px;
margin-bottom: 50px;
border-radius: 10px;
text-align: center;
}

.controles{
    width: 95%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.grupo{
    padding: 15px;
    margin-bottom: 10px;
    text-align: left;
}

.radio{
    margin-left: 30px;
    margin-bottom: 10px;
}

.boton{
    width: 120px;
    padding: 8px;
    margin-top: 40px;
}

h2{
    margin-bottom: 30px;
}

footer{
    width: 1200px;
    height: 75px;
    background-color: rgb(5, 59, 26);
    margin: auto;
}